.learnAboutOurMembers{
    height: 1189px;
    display: flex;
    justify-content: center;
    justify-items: center;
}
.title2{
    display: flex;
    justify-content: center;
    justify-items: center;
    font-family: "Rubik", sans-serif;
    font-weight: 700;
    font-size: 50px;
    text-align: center;
}
.membersGrid{
    margin: 0;
}
.memberStory, .memberStory2{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1147px;
}

.memberStory2{
    margin-top: 105px;
    margin-left: -24px;
}

.memberPhoto, .memberPhoto2{
    width: 470px;
    height: 470px;
    border-radius: 23px 23px 23px 23px;
}

.memberPhoto2{
    margin-left: 94px;
}

.story1{
    margin-left: 131px;
}

.membersNames{
    font-family: "Rubik", sans-serif;
    font-weight: 700;
    font-size: 40px;
    line-height: 50px;
    text-align: left;
    margin-top: -15px;
}

.paragraph{
    width: 580px;
    font-family: Open Sans, sans-serif;
    font-size: 28px;
    font-weight: 400;
    text-align: left;
    margin-top: -20px;
}

.storyButtons{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 280px;
    height: 77px;
    margin-top: 25px;
    background: linear-gradient(270deg, #0066CC -9.64%, #A061B5 158.23%);
    border-width: 0;
    border-radius: 15px;
    font-family: Open Sans, sans-serif;
    font-size: 28px;
    font-weight: lighter;
    line-height: 38.13px;
    text-align: center;
    cursor: pointer;
}
